.card-detail-top {
	border-bottom: 1px solid #edeae9;
    background: #f9f8f8;
    display: flex;
    flex-shrink: 0;
    height: 56px;
    box-sizing: content-box;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.card-detail-top__compleet {
    border-radius: 5px;
    
	&:hover {
        background: #e0f4ec;
        border-color: #5da283;
    }
}

.card-detail-top-right {
	display: flex;
    flex-shrink: 0;
}

.card-detail-top__link {
	height: 28px;
    min-height: 28px;
    min-width: 28px;
    width: 28px;
    border-radius: 6px;
    fill: #6d6e6f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;

    &:hover {
        background: #edeae9;
    }
}

.card-detail-top__link-icon {
	height: 16px;
    width: 16px;
}

.card-detail-top__hide {
	height: 28px;
    min-height: 28px;
    min-width: 28px;
    width: 28px;
    border-radius: 6px;
    fill: #6d6e6f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background: #edeae9;
    }
}

.card-detail-top__hide-icon {
    height: 16px;
    width: 16px;
}