.assignee {
    position: relative;
    display: flex;
    align-items: center;
}

.assignee-select {
    cursor: pointer;
    padding: 5px 5px;
    position: relative;
    left: -8px;
    display: flex;
    align-items: center;

    &:hover {
        background: #f3f1f1;
        border-radius: 5px;
    }
}

.assignee-select--add {
	display: flex;
    align-items: center;
    position: relative;
    left: -6px;
    font-size: 12px;
    cursor: pointer;
    padding: 3px;

    &:hover {
        background: #f3f1f1;
        border-radius: 5px;
    }
}

.assignee-select--add--icon {
	height: 24px;
    width: 24px;
    border-radius: 50%;
    background: none;
    border: 1px dashed #6f7071;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    .uk-icon svg {
        height: 16px;
        width: 16px;
    }
}

.assignee-list {
	position: absolute;
    left: -11px;
    top: 30px;
    background: #fff;
    border: 1px solid #edeae9;
    border-radius: 3px;
    z-index: 10;
    width: 200px;
    max-height: 250px;
    overflow-y: auto;
}

.assignee-one {
	padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
        background: #ddd;
    }
}

.assignee-clear {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    transition: background 0.3s;
    border: none;
    background: none;

    &:hover {
        background: #f0f0f0;
    }

    &::before {
        content: "";
        width: 15px;
        height: 1px;
        background: #6f7071;
        position: absolute;
        top: 12px;
        left: 5px;
        transform: rotate(45deg);
    }

    &::after {
        content: "";
        width: 1px;
        height: 15px;
        background: #6f7071;
        position: absolute;
        top: 5px;
        left: 12px;
        transform: rotate(45deg);
    }
}