.message-list {
    background: #f9f8f8;
    margin: auto -10px 0;
    padding: 20px 15px;
}

.comment-one {
    padding: 10px 0;
    padding-left: 40px;
    position: relative;

    .avatar {
        position: absolute;
        top: 5px;
        left: 0;
    }
}

.comment-one {
    p {
        margin-bottom: 5px;
        line-height: 20px;
    }

    ul {
        padding-left: 25px;
        margin-bottom: 5px;
        margin-top: 5px;
        li {
            list-style: disc;
            line-height: 22px;
            overflow-wrap: break-word;
            white-space: pre-wrap;
        }
    }

    ol {
        padding-left: 25px;
        margin-bottom: 5px;
        margin-top: 5px;
        li {
            list-style-type: decimal;
            line-height: 22px;
            overflow-wrap: break-word;
            white-space: pre-wrap;
        }
    }

    blockquote {
        border-left: 4px solid #ccc;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 16px;
    }

    pre {
        font-family: monospace;
        background-color: #23241f;
        color: #f8f8f2;
        white-space: pre-wrap;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 5px 10px;
        border-radius: 3px;
    }
}

.comment-one-top {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;

    strong {
        font-size: 14px;
        color: #4573d2;
    }    
}

.comment-one-bottom {
	font-size: 14px;
    p:last-child {
        margin-bottom: 0;
    }
}

.card-log-one {
    color: #6d6e6f;
    font-size: 12px;
    padding-left: 40px;
    line-height: 16px;

    strong {
        color: #4573d2;
    }
}

.message-list-one {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}