.card-detail {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 1px);
    width: 55%;
    background: #fff;
    z-index: 10;
    box-shadow: 0 0 0 1px #edeae9, 0 5px 20px 0 rgba(109, 110, 111, 0.08);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 1px;
}

.card-detail-top {
	border-bottom: 1px solid #edeae9;
    background: #f9f8f8;
    display: flex;
    flex-shrink: 0;
    height: 56px;
    box-sizing: content-box;
}

.card-detail-body {
	display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 1px;
}

.card-detail-footer {
	flex-shrink: 0;
    background: #f9f8f8;
    border-top: 1px solid #edeae9;
}