.card-detail {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh - 73px);
    width: 55%;
    background: #fff;
    z-index: 10;
    box-shadow: 0 0 0 1px #edeae9, 0 5px 20px 0 rgba(109, 110, 111, 0.08);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 1px;
}

.card-detail-top {
	border-bottom: 1px solid #edeae9;
    background: #f9f8f8;
    display: flex;
    flex-shrink: 0;
    height: 56px;
    box-sizing: content-box;
}

.card-detail-body {
	display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 1px;
    overflow-y: auto;
    padding: 0 10px;
}

.card-detail-footer {
	flex-shrink: 0;
    background: #f9f8f8;
    border-top: 1px solid #edeae9;
}

.card-editor {
    margin-bottom: 10px;
    padding: 15px 0px;
    & .quillWrapper:hover {
        border: 1px solid #000;
    }
}

div.quillWrapper {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

div.quillWrapper .ql-snow.ql-toolbar {
    padding-top: 4px;
    background: #f9f8f8;
    border: none;
}

div.ql-snow .ql-toolbar button svg, div.quillWrapper .ql-snow.ql-toolbar button svg {
    width: 18px;
    height: 18px;
}

div.quillWrapper .ql-snow.ql-toolbar .ql-formats {
    margin-bottom: 0;
}

div.ql-container.ql-snow {
    border: none;
}

.card-detail-title {
    padding: 0 10px;
    margin: 25px 0;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;

    &:hover {
        border: 1px solid #000;
    }

    textarea {
        font-family: "Roboto";
        outline: none;
	    -moz-appearance: none;
        border-color: transparent;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        height: 100%;
        left: 10px;
        top: 0px;
        position: absolute;
        overflow: auto;
        resize: none;
        width: calc(100% - 20px);
        padding: 0;
        background: transparent;
    }
    .shadow {
        width: calc(100% + 0px);
        height: auto;
        visibility: hidden;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }
}

.card-detail-info {
    padding: 0 10px;
}