@import url('/node_modules/vue-date-pick/dist/vueDatePick.css');
@import url('./top/Top.less');
@import url('./assignee/Assignee.less');
@import url('./projects/Projects.less');
@import url('./message-list/Message-list.less');
@import url('./time-spent/TimeSpent.less');

.card-detail {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh - 73px);
    width: 55%;
    background: #fff;
    z-index: 10;
    box-shadow: 0 0 0 1px #edeae9, 0 5px 20px 0 rgba(109, 110, 111, 0.08);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 1px;

    &--veiw {
        position: relative;
        height: auto;
        width: 100%;
    }
}



.card-detail-body {
	display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 1px;
    overflow: auto;
    padding: 0 10px;
}

.card-detail-footer {
	flex-shrink: 0;
    background: #f9f8f8;
    border-top: 1px solid #edeae9;
}

.card-editor {
    margin-bottom: 10px;
    padding: 0px 0px 15px;
    & .quillWrapper:hover {
        border: 1px solid #000;
    }
}

div.quillWrapper {
    border: 1px solid #ddd;
    border-radius: 10px;
}

div.quillWrapper .ql-snow.ql-toolbar {
    padding-top: 4px;
    background: #f9f8f8;
    border: none;
    border-radius: 10px 10px 0 0;
}

div.ql-snow .ql-toolbar button svg, div.quillWrapper .ql-snow.ql-toolbar button svg {
    width: 18px;
    height: 18px;
}

div.quillWrapper .ql-snow.ql-toolbar .ql-formats {
    margin-bottom: 0;
}

div.ql-container.ql-snow {
    border: none;
}

.card-detail-title {
    padding: 0 10px;
    margin: 25px 0;
    position: relative;
    border: 1px solid transparent;
    border-radius: 5px;

    &:hover {
        border: 1px solid #000;
    }

    textarea {
        font-family: "Roboto";
        outline: none;
	    -moz-appearance: none;
        border-color: transparent;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        height: 100%;
        left: 10px;
        top: 0px;
        position: absolute;
        overflow: auto;
        resize: none;
        width: calc(100% - 20px);
        padding: 0;
        background: transparent;
    }
    .shadow {
        width: calc(100% + 0px);
        height: auto;
        visibility: hidden;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }
}

.card-detail-info {
    padding: 0 10px;
}

.card-detail-info {
	margin-bottom: 4px;
    display: flex;
    flex-shrink: 0;
    height: 36px;
    align-items: center;
}

.card-detail-info__title {
    width: 120px;
    padding-right: 8px;
    font-size: 12px;
    line-height: 18px;

}

.card-detail-info__text {
    .cart-dueDate--add {
        opacity: 1;
    }
}

.date-clear {
    background: none;
    border: none;
    font-size: 18px;
    color: #6f7071;
    vertical-align: middle;
}

.date-button {
    background: none;
    border: none;
    font-size: 12px;
    height: 24px;
    vertical-align: middle;
    border-radius: 5px;

    &.alert {
        color: #f0506e;
    }

    &:hover {
        background: #f9f8f8;
    }
}

.vdpComponent {
    display: flex;
    align-items: center;
}

.card-detail-footer {
    padding: 10px;
 
    div.quillWrapper {
        background: #fff;
    }

    div.ql-editor {
        min-height: 30px;
        padding: 4px 8px 35px;
    }

    div.quillWrapper .ql-snow.ql-toolbar {
        position: absolute;
        bottom: 1px;
        width: calc(100% - 2px);
        border-radius: 0 0 10px 10px;
        z-index: 1;
    }


}

.comment-editor {
    position: relative;
}

.comment-send-button {
    background: #4573d2;
    border: none;
    border-radius: 6px;
    color: #fff;
    height: 28px;
    padding: 0 10px;
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: 14px;
    z-index: 10;
    cursor: pointer;
}

.card-tab-list {
	display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.card-tab-list__one {
    font-size: 14px;
    line-height: 18px;
    padding: 5px 10px;
    position: relative;
    top: 1px;
    cursor: pointer;

	&.active {
        border-bottom: 1px solid #4573d2;
    }
}