@import url('./core/reset.less');

body {
    background: #fff;
}

.mainLayer {
    display: flex;
    flex: 1 1 0;
    min-height: 1px;
}

.sidebar {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    transition: margin-left 250ms ease-out,transform 250ms ease-out;
    width: 240px;
}

.sidebarRoot {
    flex: 1 1 auto;
    min-height: 1px;
}

.Sidebar {
    background-color: #1e1f21;
    display: flex;
    flex-direction: column;
}

.SidebarHeader {
    align-items: center;
    display: flex;
    height: 72px;
    justify-content: space-between;
}

.SidebarHeader-Logo {
    flex-grow: 1;
    height: 24px;
    font-size: 24px;
    color: #f5f4f3;
    text-decoration: none;
}

.SidebarHeader-sideBurgerIcon {
    cursor: pointer;
    fill: #a2a0a2;
    flex-grow: 0;
    margin-right: 16px;
    padding: 0 8px;
    background: transparent;
    border: none;
}
.SideBurgerIcon {
    height: 16px;
}

.Sidebar-menu {
    border-bottom: 1px solid #424244;
    padding: 8px 0;
}

.SideBurgerIcon-image {
    height: 16px;
    width: 25px;
}