@import url('./core/reset.less');
@import url('./components/sidebar/Sidebar.less');
@import url('./components/page/Page.less');


body {
    background: #fff;
    font-family: 'Roboto';
}

.mainLayer {
    display: flex;
    flex: 1 1 0;
    min-height: 1px;
    height: 100vh;
}